@finicity:registry=https://repo.fini.city/artifactory/api/npm/npm-private/
registry=https://repo.fini.city/artifactory/api/npm/npm-group
//repo.fini.city/artifactory/api/npm/npm-private/:_authToken=${JFROG_NPM_AUTH_TOKEN}