# See https://prettier.io/docs/en/ignore.html for more about ignoring files.

# coverage
/coverage

# files
/dist
README.md
CHANGELOG.md

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
# System Files
.DS_Store
Thumbs.db
kubernetes.yml
.gitlab-ci.yml
